@import url("https://fonts.googleapis.com/css2?family=Lato&family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

* {
  background-color: black;
  color: white;
  font-family: "Lato", "sans-serif";
  font-family: "ZCOOL XiaoWei", sans-serif;
  justify-content: center;
  /* overflow-y: hidden; */
}

.formobile {
  display: none;
}

.Appnav {
  animation: load-anim-main 0.5s linear;
  transition: 0.3s ease-in-out;
}

.Appnav nav {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Appnav h1 {
  font-family: "Great Vibes";
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
  padding: 0px 10px 0px 10px;

}

.Appnav h1:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.Appnav hr {
  height: 1px;
  background-color: white;
  margin-top: -30px;
}

/* this is to style the grid of the letters */
.grid {
  margin-top: 30px;
  width: 100%;
  transition: 0.3s ease-in-out;
  animation: load-anim-grid 0.5s linear;
}

/* this styles the indivisual letter rows */
.row {
  /* this is keeping all the rows of the grid straight */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

/* this class styles each indivisual letter that we enter in the box */
.letter {
  padding: 11px 3px;
  text-align: center;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  margin: 5px;
  color: white;
  transition: 0.3s ease-in-out;
}

/* this is to style the keyboard */
.keyboard {
  margin-top: 25px;
  animation: load-anim-keyboard 0.5s linear;
}

/* these classes style the keys of the keyboard */
.key {
  background-color: gray;
  border-color: white;
  padding: 5px;
  margin: 5px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#bigkeys {
  width: 100px;
}


.toprow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
}

.midrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottomrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* this css will be activated after the enter key is pressed */
#correctpos {
  background-color: green;
}

#incorrectpos {
  background-color: yellow;
  color: black;
}

#incorrect {
  background-color: #333333;
  /* #404040  */
}

.gameover {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

/* the css for keys when they are disabled/enabled */
#notusable {
  background-color: #404040;
}

#usable {
  background-color: gray;
}

#usable:hover {
  background-color: white;
}


.reset {
  font-size: 30px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 6px;
  margin-top: 3px;
  transition: 0.3s ease-in-out;
  border: transparent;
  font-weight: bold;
}

.reset:hover {
  background-color: rgb(230, 255, 255);
  color: black;
}

.footer {
  font-family: "Great Vibes";
  font-weight: bold;
  /* position: absolute;   */
  /* here i have kept the absolute property so that I can apply the z index and bring a popup after the user completes the game */
  /* display: transparent; */
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.footer:hover {
  color: black;
  background-color: white;
}

#enterkey {
  width: 110px;
}

#deletekey {
  width: 110px;
}

#enterkey:hover {
  background-color: rgb(230, 255, 255);
}

#deletekey:hover {
  background-color: rgb(255, 204, 204);
}

@media (max-width: 593px) {
  #enterkey {
    transform: translate(180px, 51px);
  }

  #deletekey {
    transform: translate(-175px, 51px);
  }
}

@media (max-width: 499px) {
  .key {
    padding: 1px;
  }

  #enterkey {
    transform: translate(150px, 45px);
    margin-right: 11px;
    display: block;
  }

  #deletekey {
    transform: translate(-151px, 45px);
    margin-left: 7px;
    display: block;
  }
}

@media (max-width: 420px) {
  #root {
    display: none;
  }

  .formobile {

    position: relative;
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: "Great Vibes";
    top: 50vh;

    animation-name: smallsizeanimation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
  }

}

/* this is for animations */
@keyframes smallsizeanimation {
  from {
    color: black;
  }

  to {
    color: white;

  }
}

@keyframes loadinganimation {
  from {
    display: none;
  }

  to {
    display: block;
  }
}


@keyframes load-anim-main {
  from {
    transform: translateY(-100px);
    display: none;
    background-color: white;
  }

  to {
    transform: translateY(0px);
    display: block;
  }
}

@keyframes load-anim-grid {
  from {
    transform: translateY(1000px);
  }

  to {
    transform: translateY(35.2px);
  }
}

@keyframes load-anim-keyboard {
  from {
    transform: translateY(1000px);
  }

  to {
    transform: translateY(50px);
  }
}


/* this is for the load animation */
.first {
  top: 66.66%;
}

.second {
  top: 33.33%;
}

.third {
  top: 0%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background: #000000;
  display: none ;
}